<h1>StaticPage#index</h1>
<p>
	<%= link_to "Posts", microposts_path %>


	<% if user_signed_in? %>
		<%= current_user.email %>
		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign in", user_session_path %>
		<%= link_to "Sign up", new_user_registration_path  %>
	<% end %>
</p>

<p class="container">
	<ul>
		<strong><%= link_to "Categories", categories_path %></strong>
		<% @categories.each do |category| %>
			<li><%= link_to "#{category.name}", '#' %></li>
		<% end -%>
	</ul>
	

</p>